nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    /* My Logo */

    width: 76px;
    height: 20px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    /* identical to box height, or 111% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/B400 */
    color: #6070FF;

}

.right {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.right > span {
    margin: 10px;

    /* Portoflio */

    width: 63px;
    height: 20px;

    /* Body / 3 - Bolder */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;

    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Neutrals/N600 */
    color: #344563;
}

header-container {
    background-image: url("Microverse-Student-Project-1/background.png");
    width: 100%;
    height: 916px;
    background-size: cover;
    position: relative;
}

.header-title {
    position: absolute;
    top: 360px;
    left: 260px;

    /* Primary Text */

    width: 920px;
    height: 122px;

    /* Header / 1 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;

    /* or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;

    /* Theme 1 / Neutrals 1 */
    color: #091E42;
}

.header-desc {
    position: absolute;
    top: 470px;
    left: 260px;

    /* Primary Text */

    width: 920px;
    height: 98px;

    /* Body / 1 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    /* or 140% */

    /* Theme 1 / Neutrals 3 */
    color: #344563;
}

.connect {
    position: absolute;
    top: 590px;
    left: 260px;

    /* LET’S CONNECT */

    width: 317px;
    height: 24px;

    /* Body / 2 - Bolder */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height, or 150% */

    /* Primary/B300 */
    color: #7F8CFF;
}

header-icons {
    position: absolute;
    top: 590px;
    left: 260px;
    background-image: url("Microverse-Student-Project-1/background.png");
    width: 100%;
    height: 916px;
    background-size: cover;
}

.icons {
    position: absolute;
    top: 630px;
    left: 260px;
}

.cardwork {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.cardwork-title {
    /* Project Title */

    width: 496px;
    height: 46px;

    /* Header / 2 */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    /* Theme 1 / Neutrals 1 */
    color: #091E42;
}

.cardwork-subtitle {
    display: flex;
    flex-direction: row;
    padding: 10px 0 25px;
}

.cardwork-subtitle > i {
    color: #c1c7d0;
    width: 8px;
    height: 8px;
    padding: 0 20px;
  }

.company {
    /* Text */
    width: 55px;
    height: 16px;
    padding-left: 0;
    padding-right: 10px;
  
    /* Caption / 1 - Bolder */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  
    /* Neutrals/N600 */
    color: #344563;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .job {
    /* Text */
    width: 130px;
    height: 16px;
  
    /* Caption / 1 - Bolder */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  
    /* Neutrals/N100 */
    color: #7a869a;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .year {
    /* Text */
  
    width: 88px;
    height: 16px;
  
    /* Caption / 1 - Bolder */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  
    /* identical to box height, or 123% */
  
    /* Neutrals/N100 */
    color: #7a869a;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
.cardwork-desc {
    /* Primary Text */
    
    width: 295px;
    height: 76px;
    padding-bottom: 20px;
    
    /* Body / 3 */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    
    /* or 160% */
    
    /* Neutrals/N600 */
    color: #344563;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tags {
    margin-bottom: 20px;
    list-style: none;
    padding-left: 0;
  }
  
  .tag {
    /* Tag */
    float: left;
    text-align: center;
    margin-right: 20px;
    padding-top: 5px;
  
    /* Auto layout */
    align-items: center;
    width: 53px;
    height: 24px;
  
    /* Primary/B50 */
    background: #ebebff;
    border-radius: 8px;
  
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  
    /* Button / Small */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  
    /* identical to box height, or 133% */
    letter-spacing: 0.03em;
  
    /* Primary/B400 */
    color: #6070ff;
  }
  
  .javascript {
    width: 90px;
  }
  
  .button-container {
    position: relative;
  }
  
  .button {
    /* Normal Button/Secondary/Enabled */
    box-sizing: border-box;
    position: absolute;
    top: 50px;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
  
    /* position: absolute; */
    width: 124px;
    height: 48px;
  
    /* Primary/B400 */
    border: 1px solid #6070ff;
    border-radius: 8px;
  
    /* See Project */
  
    /* Button /Normal */
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  
    /* Primary/B500 */
    color: #396df2;
  }
  
  .button:hover {
    color: gray;
    cursor: pointer;
  }
  